<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1 id="main-header">
        PDF Splitter
    </h1>
    

    {% block content %}{% endblock %}

    <footer>
        <div class="footer-wrapper">
            Made by Alex Wardill 
            <a href="https://github.com/AlexWardill" target="_blank">
                <img src="{{url_for('static', filename='Github-Mark-32px.png')}}" alt="GitHub Logo">
            </a>
        </div>
    </footer>
</body>
</html>